PORT=3000
JWT_SECRET=cambia_esto
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_CURRENCY=mxn
BUSINESS_NAME=LowMech Servicios Mecanicos
BUSINESS_RFC=XAXX010101000
BUSINESS_ADDRESS=Av. Principal 123
BUSINESS_PHONE=+52 55 0000 0000
